#info{
    background-color:  rgba(211, 211, 211, 0.61);
    /* height: 400px; */
    font-size: 3vi;
    color: black;
    font-family: 'Bebas Neue', sans-serif !important;
    
}

.fa-instagram{
    background: #CF7F23;
    background: linear-gradient(to right, #CF7F23 0%, #CF1512 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#infoDescrita .contato{
    background: linear-gradient(110deg, transparent 0% 7.5%, white 7.5% 100%);
    width: 80%;
    padding-right: 2px;
    border-right: 5px solid whitesmoke;
}

#infoDescrita .contato::after{
    content: '';
    position: relative;
    width: 22px;
    height: 100%;
    top: 0px;
    left: -95.6%;
    background-color: whitesmoke;
    transform: skew(-20deg);
}

#local{
    width: 100%;
    justify-content: space-between;
    color: rgba(211, 211, 211, 1);
    background-color: gray;
    text-shadow: 1px 1px white;

    > div{
        line-height: 90%;
    }

    > i{
        font-size: 6vi;
    }
}