#info{
    background-color:  rgba(211, 211, 211, 0.61);
    font-size: 3vi;
    color: black;
    font-family: 'Bebas Neue', sans-serif !important;
    
}

.fa-instagram{
    background: #CF7F23;
    background: linear-gradient(to right, #CF7F23 0%, #CF1512 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

#infoDescrita .contato{
    background: linear-gradient(110deg, transparent 0% 7.5%, white 7.5% 100%);
    width: 80%;
    padding-right: 2px;
    border-right: 5px solid whitesmoke;
}

#infoDescrita .contato::after{
    content: '';
    position: relative;
    width: 22px;
    height: 100%;
    top: 0px;
    left: -95.6%;
    background-color: whitesmoke;
    transform: skew(-20deg);
}

#local{
    width: 100%;
    color: rgba(211, 211, 211, 1);
    text-shadow: 1px 1px white;
    background: linear-gradient(110deg, transparent 0% 14%, gray 14% calc(14% + 22px), transparent calc(14% + 22px) calc(15% + 22px) ,gray calc(15% + 22px) 100%);

    > div{
        line-height: 90%;
        text-align: end;
    }

}

.component-map{
    border: 4px solid white;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media (max-width: 480px) {
    #info{
        font-size: 8.2vi;

    }

    #infoDescrita .contato{
        width: 100%;

        > i{
            padding: 0% !important;
            margin-left: 2px;
        }
    }

    #local{
        background: linear-gradient(110deg, transparent 0% 10%, gray 10% calc(10% + 22px), transparent calc(10% + 22px) calc(11% + 22px) ,gray calc(11% + 22px) 100%);
        padding-right: 1px !important;
        padding-left: 1px !important;
    }

    #infoDescrita{
        padding-right: 6% !important;
        padding-left: 7.5% !important;
    }

    
}