#marketing, #marketing #gridAlunos{
    padding: 0 !important;
}

#marketing #gridAlunos .row *{
    padding: 0 !important;

    > img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        opacity: .5;
    }
}

.bannerContador{
    font-size: 5rem;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    mask-size: 200%;
    animation: shine 2s linear infinite;
}

@keyframes shine {
    from { -webkit-mask-position: 150%; mask-position: 150%; }
    to { -webkit-mask-position: -50%; mask-position: -50%;}
  }



